/*
Footer
*/

#footer{
    height: 75px;
    width: 100%;
    background-color: navy;
    float: none;
  }

  #copyright{
  color: white;
  font-size: 1em;
  width: 20%;
  float: left;
  }
  #footernav a{
    float:left;
    width: auto;
    float: left;
  }
