/*
Project: Personal Website
Description: This is our personal website project, it will be posted on github using gh-pages
Color Theme:
  - Primary Color: #2F3950
  - Secondary Color: #818794
  - Complement Color: #515B72
  - Base Color: #172544
  - Alt. Color: #020E26
*/

/*
Global Styles
*/
H1{
  margin: 0;
}
a{
  color: white;
  text-decoration: none;
  font-size: 1em;
  margin: 0px 5px;
}
ul{
  list-style-type: none;
}
.border{
  border-bottom: 4px solid #fff;
}
