/*
Project: Personal Website
Description: This is our personal website project, it will be posted on github using gh-pages
Color Theme:
  - Primary Color: #2F3950
  - Secondary Color: #818794
  - Complement Color: #515B72
  - Base Color: #172544
  - Alt. Color: #020E26
*/

/*
Global Styles
*/
H1{
  margin: 0;
}
a{
  color: white;
  text-decoration: none;
  font-size: 1em;
  margin: 0px 5px;
}
ul{
  list-style-type: none;
}
.border{
  border-bottom: 4px solid #fff;
}

/*
Header Information
*/

#header{
  height: 125px;
  width: 100%;
  background-color: navy;
  float: left;
}
#logo{
  width: auto;
  float: left;
  color: white;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0px 5%;
}
#logo h1{
  font-family: "Comic Sans MS", cursive, sans-serif;
  margin: 0px;
}
#nav{
  float: left;
  width: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
#nav ul{
  list-style-type: none;
}
#nav li{
  float:left;
}
#nav li:after{
  color: white;
  padding-right: 7px;
  content: " | ";
}
#social{
  float: right;
  margin-right: 20px;
  width: 20%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
#social{
  text-align: right;
}
#social a{
  font-size: 2em;
}


/*
Banner
*/
#contactbanner{
  background: url("../img/mountainroad.jpg")
  center;
  height: 600px;
  background-size: cover;
  background-attachment: fixed;
  color: #172544;
}

#indexbanner{
  background: url("../img/mountainstream.jpg")
  center;
  height: 500px;
  background-size: cover;
  background-attachment: fixed;
  color: #172544;
}

#aboutbanner{
  background: url("../img/fire.jpg")
  center;
  height: 500px;
  background-size: cover;
  background-attachment: fixed;
  color: #172544;
}

.banner h1{
  text-align: center;
  padding-top: 200px;
  font-size: 3em;
  text-shadow: 0px 0px 50px #fff;
}

/*
Skills Styles
*/
#skills{
  background-color: #515B72;
  height: 500px;
  float:left;
}
#skills .box{
  width: 22%;
  float: left;
  border: 1px solid white;
  border-radius: 7%;
  display: inline-block;
  padding: 35px 35px;
  margin: 50px 1.25%;
  color: #fff;
}
#skills .box h2{
  text-align: center;
}
#skills .box .skills-icon{
  font-size: 3em;
  text-align: center;
}
#skills .box .skills-icon a{
  color: #fff;
}

/*
About Me Styles
*/
#about{
  background-color: #515B72;
  height: 300px;
  float:left
}
#about .box{
  width: 90%;
  display: inline-block;
  padding: 35px 35px;
  margin: 50px 1.25%;
  color: #fff;
  font-size: 1.25em;
}
#about .box h1{
  text-align: center;
}
#about .box .skills-icon{
  font-size: 3em;
  text-align: center;
}
#about .box .skills-icon a{
  color: #fff;
}

/*
Contact Me Form
*/
#contactme{
  background-color: #515B72;
  height: 350px;
}
#contactme h1{
  text-align: center;
  margin-bottom: 30px;
  color: #fff;
  font-size: 2em;
}

#contactform{
  width: 59%;
  float:left;
}
#contactform input{
  width: 70%;
  height: 30px;
  margin: 10px;
  margin-left: 10%;
}
#contactform input[name="submitbutton"] {
  width: 100px;
  border: 0px;
}

#address{
  width: 39%;
  color: #fff;
  font-size: 1.25em;
  font-weight: bold;
  float: left;
}
/*
Video
*/
  #video{
    width: 100%;
    }

  .video-container{
    margin: 0px auto;
  }

/*
Footer
*/

  #footer{
    clear: both;
    height: 75px;
    width: 100%;
    background-color: navy;
    }

  #copyright{
    text-align: center;
    color: white;
    font-size: 1em;
    }

  #social-footer{
    text-align: center;
    }
  #social-footer a{
    font-size: 2em;
    }
